*{
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}
.header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 39%, rgba(148,187,233,1) 100%);
  border: none;
  height: 250px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.headTitle{
  color: rgb(255, 232, 241);
  opacity: 0.9;
  padding: 10px;
  font-weight: lighter;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form{
  display: flex;
  margin-top: 18px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.form div{
  margin-bottom: 10px;
}
.label{
  font-size: 20px;
  font-weight: lighter;
 
  color: rgb(229, 229, 229);
  margin-right: 10px;
}
.input{
  
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.input::-webkit-calendar-picker-indicator {
  font-size: 20px;
  
}
.input::-webkit-datetime-edit-month-field {
  color: rgba(148,187,233,1);
}
.input::-webkit-datetime-edit-day-field {
  color: rgba(238,174,202,1);
}
.input::-webkit-datetime-edit-year-field {
  color: rgba(238,174,202,1);
}
.btn{
  padding: 10px;
  flex-grow: 1;
  border: none;
  font-size: large;
  color: white;
  background: linear-gradient(90deg, rgba(148,187,233,1) 22%, rgba(238,174,202,1) 100%);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.6;
}
.finalResult{
  color: white;
  font-size: larger;
}